{% extends 'base.html' %}

{% block content %}
<div class="about-container">
    <h3 style="text-align: center;">Acerca de m&iacute;</h3>
    <p style="text-align: justify; font-size: 1.2em; line-height: 1.5em; margin-bottom: 1.5em;">Soy una apasionada de la programaci&oacute;n y el desarrollo web. Me encanta aprender nuevas tecnolog&iacute;as y herramientas para mejorar mis habilidades y crear aplicaciones cada vez m&aacute;s interesantes y &uacute;tiles.</p>
    <p style="text-align: justify; font-size: 1.2em; line-height: 1.5em; margin-bottom: 1.5em;">Me considero una persona proactiva y creativa, con una gran capacidad para resolver problemas y adaptarme a cambios r&aacute;pidos. Me gusta trabajar en equipo y colaborar con otros para lograr objetivos comunes.</p>
    <p style="text-align: justify; font-size: 1.2em; line-height: 1.5em; margin-bottom: 1.5em;">En mi tiempo libre, me gusta leer, hacer ejercicio, viajar y disfrutar de la naturaleza. Tambi&eacute;n me gusta aprender sobre diferentes culturas y costumbres y explorar nuevos lugares.</p>
</div>

<style>
    .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

{% endblock content %}
