{% extends 'base.html' %}

{% block content %}
<h2>Crear tarea nueva</h2>

<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Guardar</button>
</form>

{# Display messages #}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}
