{% extends 'base.html' %}

{% block content %}
<h3>Lista de Notas</h3>
<section style="display: flex; flex-wrap: wrap; gap: 20px;">
  {% if notas %}
  {% for nota in notas %}
  <article style="width: 300px; border: 1px solid #ccc; padding: 10px;">
    <h3>{{ nota.titulo }}</h3>
    <div style="display: flex; justify-content: right;">
      <a style="margin-right: 10px;" href="{% url 'ver-detalle-nota' nota.id %}">👁️</a>
      <a style="margin-right: 10px;" href="{% url 'editar-nota' nota.id %}">✍🏻</a>
      <a href="{% url 'eliminar-nota' nota.id %}">🗑️</a>
    </div>
  </article>
  {% endfor %}
  {% else %}
  <p>No hay notas disponibles.</p>
  {% endif %}
</section>
{% endblock content %}